.container {
    padding: 30px;
    display: grid;
    grid-template-areas:
    "s s"
    "l d";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px
}

.search {
    grid-area: s;
  }
  
.list {
    grid-area: l;
  }
  
.details {
    grid-area: d;
  }

.btn {
    background-color: #8B008B;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    margin: 5px;
}

.btn:hover {
    background-color: white; 
    color: #8B008B;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
